@{
    ViewData["Title"] = "Home Page";
}

<!-- INICIO DEL FORMULARIO -->
<div class="container d-flex ">
    @using (Html.BeginForm("CreateClientes", "Home", FormMethod.Post))
    {
        <div class="w-100">
            <div class="w-100 d-flex justify-content-between  ">
                <div class="w-100">
                    @Html.Label("Nombre")
                    @Html.TextBox("nombre", "", new { @class = "form-control" })
                </div>
                <div class="w-100 ms-4 ">
                    @Html.Label("Apellido")
                    @Html.TextBox("apellido", "", new { @class = "form-control" })
                </div>
            </div>

            <div class="w-100 mt-3 ">
                @Html.Label("Email")
                @Html.TextBox("email", "", new { @class = "form-control" })
            </div>

            <div class="w-100 mt-3 ">
                @Html.Label("Direccion")
                @Html.TextBox("direccion", "", new { @class = "form-control" })
            </div>

            <div class="w-100 d-flex justify-content-between mt-3 ">
                <div class="w-100">
                    @Html.Label("Departamento")
                    @Html.DropDownList("id_departamento", ViewData["listadoDeDepartamentos"] as SelectList, "Seleccione...", new { @class = "form-control" })

                </div>

                <div class="w-100 ms-4 d-block">
                    @Html.Label("Genero")
                    <div>
                        @Html.RadioButton("genero", "M", true, new { id = "genero" })
                        Masculino
                        @Html.RadioButton("genero", "F", true, new { id = "genero" })
                        Femenino

                    </div>
                </div>

                <div class="w-100">
                    @Html.Label("Puesto")

                    

                    <span></span>
                    @Html.DropDownList("id_puesto", ViewData["listadoDePuestos"] as SelectList, "Seleccione...",new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="ms-5">
            <div class="card" style="width: 26rem; text-align: center; justify-content: center;">
                <div class="pt-4 pb-2 ">
                    <img src="https://firebasestorage.googleapis.com/v0/b/dulcesabor-imagenes.appspot.com/o/L02P02_2021AR601_2021MM656%2Fimagenes-de-usuario.png?alt=media&token=2ee4e2ca-df3d-496d-b6c9-b14cc5dd7b1f" class="" width="115px" alt="...">
                </div>
                <div class="card-body">
                    <input type="file" class="form-control " name="imagen" id="imagen">
                </div>
            </div>

            <div class="card mt-3" style="width: 26rem; text-align: center; justify-content: center;">
                <div class="card-body p-2 ">
                    <button type="submit" class="btn btn-success w-100 ">Guardar</button>
                </div>
            </div>
        </div>
    }
</div>
<!-- FIN DEL FORMULARIO -->

<hr>

<!-- INICIO DE LA TABLA -->
<form asp-action="Delete">
<div class="container">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col">Nombre completo</th>
                <th scope="col">Email</th>
                <th scope="col">Dirección</th>
                <th scope="col">Departamento</th>
                <th scope="col">Genero</th>
                <th scope="col">Puesto</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in (IEnumerable<dynamic>)ViewData["listadoDeClientes"])
            {
                <tr>
                    <th scope="row">@cliente.nombre @cliente.apellido</th>
                    <td>@cliente.email</td>
                    <td>@cliente.direccion</td>
                    <td>@cliente.id_departamento</td>
                    <td>@cliente.genero</td>
                    <td>@cliente.id_puesto</td>
                        <input type="hidden" value="@cliente.id" name="id" id="id"/>
                    <td><button type="submit" class="form-control bg-danger text-light">Eliminar</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
</form>
<!-- FIN DE LA TABLA -->